#chart1, #chart2{
	height:200px;
}

#overall-chart svg{
    height:210px;
}
#memoryblock-chart svg{
  height:310px;
}

.comparision-chart svg{
    width: auto;
    height: auto;
}
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.special rect {
  fill: red;
  shape-rendering: crispEdges;
}

.special, .bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}