{% extends "theme_base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load google_analytics %}

{% block extra_style %}{% endblock %}

{% block extra_head_base %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">

    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.dataTables_themeroller.css" />

    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'apidoc' %}"><i class="icon-file"></i> {% trans "API Docs" %}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'user_statistics' %}">User Statistics</a></li>
            <li><a href="{% url 'game_statistics' %}">Game Statistics</a></li>
            <li><a href="{% url 'game_level_statistics' %}">Game Level Statistics</a></li>                            
          </ul>
        </li>
        <li><a href="{% url 'analysis' %}">Data Analysis</a></li>
    </ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% google_analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/lib/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>

    {% with theme="flat-ui" %}
        {% if theme == 'flat-ui' %}
        <!--
            <script type="text/javascript" src="{% static 'themes/flat-ui/js/flat-ui.min.js' %}" charset="utf-8"></script>!-->
        {% endif %}
    {% endwith %}

    <script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular-cookies.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular-resource.js' %}" charset="utf-8"></script>

    <script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
