<div class="row">
  <div class="col-sm-2">
    <h4>Create</h4>
  </div>
  <div class="col-sm-10">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">number of association</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.create_association_count" class="form-control">
          <option value="">----</option>
          <option value="6">(level 1) 6</option>
          <option value="5">(level 2) 5</option>
          <option value="4">(level 3) 4</option>
          <option value="random">random</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">number of providing</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.create_providing_count" class="form-control">
          <option value="">----</option>
          <option value="4">(level 1) 4</option>
          <option value="5">(level 2) 5</option>
          <option value="6">(level 3) 6</option>
          <option value="random">random</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Category settings</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.create_category_settings" value="object"> object
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.create_category_settings" value="scenario"> scenario
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.create_category_settings" value="people"> people
        </label>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-2">
    <h4>Guess</h4>
  </div>
  <div class="col-sm-10">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">number of association</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.guess_association_count" class="form-control">
          <option value="">----</option>
          <option value="6">(level 1) 6</option>
          <option value="5">(level 2) 5</option>
          <option value="4">(level 3) 4</option>
          <option value="random">random</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">number of providing</label>
      <div class="col-sm-8">
        <select ng-model="editingplan.json.guess_providing_count" class="form-control">
          <option value="">----</option>
          <option value="4">(level 1) 4</option>
          <option value="5">(level 2) 5</option>
          <option value="6">(level 3) 6</option>
          <option value="random">random</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="textinput">Category settings</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.guess_category_settings" value="object"> object
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.guess_category_settings" value="scenario"> scenario
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="editingplan.json.guess_category_settings" value="people"> people
        </label>
      </div>
    </div>
  </div>
</div>

