#page-wrapper {
    margin: 0 0 0 0;
    padding-top: 20px;
}

.sidebar {
    z-index: 0;
    position: absolute;
    width: 250px;
    margin-top: 1px;
}

.patient-list {
    background-color: white;
    padding: 5px;
}
