.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.modal-color-white .modal-backdrop {
    background-color: rgba(255, 255, 255, 0.9);
}

.tab-pane.swap-hack {
    display: block;
    left: -9999px;
    top: -9999px;
}

#auto-update-switch-wrapper {
    margin-right: 20px;
}

.control-label:hover {
    font-weight: normal;
}

.tab-content {
    overflow: visible;
}

.diagram-wrapper {
    overflow: hidden;
}

.diagram-graph-wrapper {
    position: relative;
}
.diagram-graph {
    position: relative;
    margin-left: 40px;
    display: block;
    min-height: 320px;
}
.diagram-axis-y {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
.diagram-axis-x {
    position: relative;
    margin-left: 40px;
    height: 40px;
}
.diagram-legend {
    position: absolute;
    top: 0;
    right: 0;
}

.rickshaw_legend a.action {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}