{% extends "site_base.html" %}
{% load staticfiles %}
{% load tag_extras %}

{% block extra_style %}
{% endblock %}

{% block extra_head %}
  <link href="{% static "vis/lib/nv.d3.css" %}" rel="stylesheet">
  <link href="{% static "vis/lib/custom.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
{% endblock %}


{% block extra_body %}
  <script type="text/javascript" src="{% static 'vis/lib/d3.v3.min.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'vis/lib/nv.d3.min.js' %}" charset="utf-8"></script>

  <script type="text/javascript" src="{% static 'vis/parkinsoncharts.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'vis/bgcharts.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'vis/lvcharts.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'vis/vis.js' %}" charset="utf-8"></script>

  <script type="text/javascript" src="{% static 'js/dashboard-page.js' %}" charset="utf-8"></script>

  <script type="text/javascript">
      vars = {
          staff_id: '{{user.staff_profile.pk}}',
      }
  </script>
{% endblock %}

{% block extra_script %}
  <script>
    $( "#date" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 1,
      dateFormat: 'yy-mm-dd',
    });


    $('#filter_submit').click(function(e) 
    {
      $.ajax({ // create an AJAX call...
          data: $('#filter_form').serialize(), // get the form data
          type: $('#filter_form').attr('method'), // GET or POST
          url: $('#filter_form').attr('action'), // the file to call
          success: function(response) { // on success..
            $('#game_level_statistics_table').html(response);
          }
      });
      return false; // cancel original event to prevent form submitting
    });
  </script>

{% endblock %}
