{% extends "site_base.html" %}
{% load staticfiles %}

{% block extra_style %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">

    <a href="https://dl.dropboxusercontent.com/u/800123/lilygames/index.html" target="_blank" class="btn btn-primary btn-lg">View LILY Game Platform APIs</a>
    <!--<a href="/apireference" target="_blank" class="btn btn-primary btn-lg">View LILY Game Platform APIs</a>!-->
      <h2>API Overview</h2>
      <h4>login a user and get user info</h4>
<pre>
<a href="/rest-auth/login/">/rest-auth/login/</a> - login a user
<a href="/rest-auth/user/">/rest-auth/user/</a> - get username of the current user
<a href="/api/users/player1">/api/users/:username</a> - get user details by username (if the user is a player, we can obtain player_id)
</pre>


      <hr>

      <h4>player info</h4>
      <p>update player info</p>
<pre>
<a href="/api/players/1">/api/players/1</a> - partial update a player
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --request PATCH -d "address=singapore" http://127.0.0.1:8000/api/players/1
</pre>

      <hr>


      <h4>get game info and the player's data in the game</h4>
<pre>
<a href="/api/games/246635c0-ec73-4fcd-bf67-ad3993892f37">/api/games/:gameuuid</a> - get game and its levels by game-uuid (uuid will be given to the game developer manually)
<a href="/api/players/1/games/246635c0-ec73-4fcd-bf67-ad3993892f37/plans">/api/players/1/games/:gameuuid/plans</a> - get player's plans for this game

<a href="/api/players/1/games/246635c0-ec73-4fcd-bf67-ad3993892f37/feedbacks">/api/players/:playerid/games/:gameuuid/feedbacks</a> - get user feedbacks on game

<a href="/api/players/1/">/api/players/:playerid/avatar</a> - get player's avatar

List of game uuid (will be updated when new game available):
<ul>
<li>Ping Pong Twister - 27ac3f3c-8664-4dda-a7dd-355d19a19d55</li>
<li>TTSH - 7ff88691-a0ef-41bf-a6f4-860cea5a9f8a</li>
<li>ping ping pong pong - 7d66b1df-0083-43af-a3cf-7cc2f43d87df</li>
<li>Empathy Map Game - cca28900-aa38-469f-98a3-9fbf30cded52</li>
<li>Basketball Genius - 81ad6acf-ca2d-4808-89d4-363192eb2f2a</li>
<li>Lotus Valley - fcab2d76-2fa5-4374-b603-e6bd3c6bb65e</li>
<li>parkinson game - 246635c0-ec73-4fcd-bf67-ad3993892f37</li>
</ul>
</pre>

      <hr>


      <h4>create game data</h4>
<pre>
<a href="/api/plays">/api/plays</a> - create player-game-play
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "game_level=80b2246e-6e3e-4dcf-ad41-c3ab0dd948c4&plan=d2e895d5-e558-4c70-ad3c-4eb6f3c963ac" http://127.0.0.1:8000/api/plays

<a href="/api/datarecords">/api/datarecords</a> - create player-game-data-record
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "game_play=a34add0b-fbd5-461e-97a1-cb3289586422&data=hello" http://127.0.0.1:8000/api/datarecords

<a href="/api/feedbacks">/api/feedbacks</a> - create a feedback
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "game=246635c0-ec73-4fcd-bf67-ad3993892f37&rank=2" http://127.0.0.1:8000/api/feedbacks
</pre>

      <h4>create forum data</h4>
<pre>
<a href="/api/topics">/api/topics</a> - create a new forum topic
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "title=Discussions" http://127.0.0.1:8000/api/topics

<a href="/api/threads">/api/threads</a> - create a new forum thread
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "topic=1&player=1&title=Thread1" http://127.0.0.1:8000/api/threads

<a href="/api/comments">/api/comments</a> - create a new comment
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --data "thread=1&player=2&text=Comment1" http://127.0.0.1:8000/api/comments
</pre>

    <h4>update forum data</h4>
<pre>
<a href="/api/topics/1">/api/topics/1</a> - update a forum topic
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --request PATCH --data "title=Discussions" http://127.0.0.1:8000/api/topics/1

<a href="/api/threads/1">/api/threads/1</a> - update a forum thread
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --request PATCH --data "title=Thread1" http://127.0.0.1:8000/api/threads/1

<a href="/api/comments/1">/api/comments/1</a> - update a new comment
curl -H "Authorization: Token 6d958f521c8a9faf282fb2441f05f14bbc2b48be" --request PATCH --data "text=Comment1" http://127.0.0.1:8000/api/comments/1
</pre>

  <h4>community portal new api</h4>
<pre>
<a href="/api/register">/api/register</a> - register a new player

public static IEnumerator Register(){
  string jsonString = "{\"user\": {\"username\": \"player999\", \"password\": \"lily123\"}}";
  var encoding = new System.Text.UTF8Encoding();

  var postHeader = new Hashtable();
  postHeader.Add("Content-type", "application/json");
  postHeader.Add("Accept", "application/json");

  var www = new WWW("http://game.lilygame.org/api/register", encoding.GetBytes(jsonString), postHeader);
  yield return www;

  if (www.text!=null)
      Debug.Log (www.text);
}

<a href="/api/plays/1">/api/plays/1</a> - update final score (1 is the game session id)
public void UpdateScore(){
  WebRequest webrequest = WebRequest.Create ("http://game.lilygame.org/api/plays/1");
  webrequest.Method = "PATCH"; 
  string postData = "{\"score\": 15}";
  byte[] byteArray = Encoding.UTF8.GetBytes (postData);
  webrequest.Headers.Add("Authorization: Token " + "6d958f521c8a9faf282fb2441f05f14bbc2b48be");
  webrequest.ContentType = "application/json";
  webrequest.ContentLength = byteArray.Length;
  Stream dataStream = webrequest.GetRequestStream ();
  dataStream.Write (byteArray, 0, byteArray.Length);
  dataStream.Close ();
  HttpWebResponse webresponse = (HttpWebResponse)webrequest.GetResponse ();
  dataStream = webresponse.GetResponseStream ();
  StreamReader reader = new StreamReader (dataStream);
  string responseFromServer = reader.ReadToEnd ();
  Debug.Log (responseFromServer);
}

<a href="/api/leaderboard/:game_level_uuid">/api/leaderboard/:game_level_uuid</a> - get game high scorers (the game level uuid we can get from the 1st api in the section 'get game info and the player's data in the game' above)
public static IEnumerator GetLeaderboard(){
  var postHeader = new Hashtable();
  postHeader.Add("Content-type", "application/json");
  postHeader.Add("Accept", "application/json");

  var www = new WWW("http://game.lilygame.org/api/leaderboard/80b2246e-6e3e-4dcf-ad41-c3ab0dd948c4", null, postHeader);
  yield return www;

  if (www.text!=null)
      Debug.Log (www.text);
}
</pre>

    </div>

  </div>
{% endblock %}


{% block extra_script %}
  <script type="text/javascript">
    vars = {

    }
  </script>
  <script type="text/javascript" src="{% static 'js/blogpost_app.js' %}" charset="utf-8"></script>

  <script>
    // Add the CSRF Token
    var app = angular.module('blogApp'); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
    }]);

    app.factory('AuthUser', function() {
        return {
            username: "{{ user.username|default:''|escapejs }}"
        }
    });
  </script>

{% endblock %}
