{% extends "site_base.html" %}
{% load staticfiles %}

{% block extra_style %}
{% endblock %}

{% block body %}
  <div class="row" ng-app="blogApp">
    <div class="col-md-12">
      <h2>Blog</h2>

      <div class="content" ng-controller="blogCtrl">
      {% verbatim %}
          <h5>Create a New Post</h5>
          <form class="form-inline">
              <div class="form-group block-level">
                  <input type="text" class="form-control" ng-model="newPost.title" placeholder="Title">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" ng-model="newPost.body" placeholder="Body">
              </div>
              <div class="form-group">
                  <button class="btn btn-default" ng-click="save()">Add Post</button>
              </div>
              <p ng-repeat="(name, errs) in errors" class="alert alert-danger"><strong>{{ name }}</strong>: {{ errs.join(', ') }}</p>
          </form>


          <div class="panel" ng-repeat="post in posts">
              <div class="panel-heading clearfix">
                  <h3 class="panel-title">{{ post.title }}</h3>
                  <author class="pull-right">{{ post.author.username }}</author>
              </div>
              <button type="button" class="close" ng-click="delete(post)" ng-show="canDelete(post)">&times;</button>
              <p class="well">{{ post.body }}</p>
              <span class="photo" ng-repeat="photo in photos[post.id]">
                <img class="img-thumbnail" ng-src="{{ photo.image }}">
              </span>
          </div>
      {% endverbatim %}
      </div>
    </div>
  </div>
{% endblock %}


{% block extra_script %}
  <script type="text/javascript">
    vars = {

    }
  </script>
  <script type="text/javascript" src="{% static 'js/blogpost_app.js' %}" charset="utf-8"></script>

  <script>
    // Add the CSRF Token
    var app = angular.module('blogApp'); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
    }]);

    app.factory('AuthUser', function() {
        return {
            username: "{{ user.username|default:''|escapejs }}"
        }
    });
  </script>

{% endblock %}