{% extends 'site_base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head %}
    <link href="{% static "vis/lib/nv.d3.css" %}" rel="stylesheet">
    <link href="{% static "vis/lib/custom.css" %}" rel="stylesheet">
    <link href="{% static "vis/lib/x3dom.css" %}" rel="stylesheet">
    <link href="{% static "vis/lvcharts.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static "vis/lib/jquery-ui.min.css" %}" />
    <link rel="stylesheet" href="{% static "vis/lib/rickshaw.min.css" %}" />
    <link rel="stylesheet" href="{% static "vis/lib/vis.css" %}" />
    <link rel="stylesheet" href="{% static "vis/lib/style-new.css" %}" />
{% endblock %}

{% block body %}
    <div ng-app="staffdashboardApp" ng-controller="staffdashboardCtrl">
    {% include "_messages.html" %}
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Dashboard Panel
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <p>Hi {{user}}</p>
                        <p>{$ player_list.length $} patients</p>
                    </div>

                    <div class="list-group">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search patients...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <button class="btn btn-default" type="button" ng-click="addPlayer()">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                            </li>
                            <li class="sidebar-search">
                                <div class="custom-search-form patient-list">
                                    <ul class="chat">
                                        <li class="clearfix left" ng-repeat="player in player_list" id='tweet-row-{$ $index $}'>
                                            <span class="chat-img pull-left">
                                                <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="">
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">{$ player.user.username $} ({$ player.user.first_name $}, {$ player.user.last_name $})</strong>
                                                    <small class=" text-muted"><i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                                                <div class="btn-group btn-group-xs">
                                                    <button type="button" class="btn btn-info" id="mark-btn-{$ $index $}" ng-click="updatePlayer(player, $index)">Edit</button>
                                                    <button type="button" class="btn btn-info" id="mark-btn-{$ $index $}" ng-click="selectPlayer(player, $index)">Select</button>
                                                    <button type="button" class="btn btn-danger" id="mark-btn-{$ $index $}" ng-click="deletPlayer(player, $index)">Delete</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /input-group -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View More</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-12">
                <div ng-if="current_showing_block == 'no_selection'">
                    {% include "dataapp/_defaultblock.html" %}
                </div>

                <div ng-if="current_showing_block == 'select_player'">

                  <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Player Profile
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="well well-sm">
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4">
                                                    <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                                                </div>
                                                <div class="col-sm-6 col-md-8">
                                                    <h4>
                                                        {$ selectedplayer.user.username $} ({$ selectedplayer.user.first_name $}, {$ selectedplayer.user.last_name $})</h4>
                                                    <small><cite title="{$ selectedplayer.address $}">{$ selectedplayer.address $} <i class="glyphicon glyphicon-map-marker">
                                                    </i></cite></small>
                                                    <p>
                                                        <i class="glyphicon glyphicon-envelope"></i> {$ selectedplayer.user.email $}
                                                        <br />
                                                        <i class="glyphicon glyphicon-globe"></i> role: {$ selectedplayer.role $}
                                                        <br />
                                                        <i class="glyphicon glyphicon-globe"></i> gender: {$ selectedplayer.gender $}
                                                        <br />
                                                        <i class="glyphicon glyphicon-phone"></i> {$ selectedplayer.phone $}
                                                        <br />
                                                        <i class="glyphicon glyphicon-globe"></i> language: {$ selectedplayer.language $}
                                                        <br />
                                                        <i class="glyphicon glyphicon-gift"></i> {$ selectedplayer.birthdate $}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Player Game Records
                            </div>
                            <div class="panel-body">
                              {% for game in org_games %}

                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    {% thumbnail game.image "100x100" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                    {% endthumbnail %}
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div>
                                                        <h4>{{game.name}}</h4>
                                                        <p>{{game.description|truncatechars:60}}</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" ng-click="selectGame('{{game.uuid}}', {{game.pk}})">
                                            <div class="panel-footer">
                                                <span class="pull-left">View Details</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                        <!-- <a href="/players/{$ selectedplayer.id $}/games/{{game.uuid}}/">old view</a> -->
                                    </div>
                                </div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>


                <div ng-if="current_showing_block == 'select_game'">
                  <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                          <li><a href="#" ng-click="selectPlayer(selectedplayer, -1)">{$ selectedplayer.user.username $}</a></li>
                          <li class="active">Data</li>
                        </ol>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                            Patient data in {$ selectedgame.name $}
                            </div>
                            <div class="panel-body">
                              <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#data" role="tab" data-toggle="tab">Playing History</a></li>
                                <li class=""><a href="#plan" role="tab" data-toggle="tab">Customize Plans</a></li>
                                <li class=""><a href="#report" role="tab" data-toggle="tab">Report</a></li>
                                <li class=""><a href="#forum" role="tab" data-toggle="tab">Forum Q&A</a></li>
                              </ul>
                              <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="data">
                                    <span class="nullable">
                                      <select class="form-control" ng-model="$parent.selected_level" ng-options="level.name for level in selectedgame.levels" ng-change="switchGameLevel()">
                                        <option value="">-- select a task --</option>
                                      </select>
                                    </span>

                                    <div ng-if="selected_level">
                                        {% include "dataapp/_taskblock.html" %}

                                        <div>
                                            <span class="nullable">
                                              <select class="form-control" ng-model="$parent.$parent.selected_play" ng-options="play.play_time for play in selected_level_plays" ng-change="switchPlay()">
                                                <option value="">-- select a play --</option>
                                              </select>
                                            </span>

                                            <div ng-if="$parent.$parent.selected_play">
                                                {% include "dataapp/_playblock.html" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="plan">
                                    <h2>Plans [total: {$ selectedplayer_plan_list.length $}]</h2>

                                    <div class="row">
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-success" ng-click="addPlan()">Add Plan</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <table class='table table-bordered table-striped sortable'>
                                                <thead>
                                                    <tr>
                                                        <th>name</th>
                                                        <th>start</th>
                                                        <th>end</th>
                                                        <th>plan data</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="plan in selectedplayer_plan_list" id='tweet-row-{$ $index $}'>
                                                        <td><p>{$ plan.name $}</p></td>
                                                        <td><p>{$ plan.start_date $}</p></td>
                                                        <td><p>{$ plan.end_date $}</p></td>
                                                        <td><p>{$ plan.plan_data $}</p></td>
                                                        <TD>
                                                            <div class="btn-group btn-group-xs">
                                                                <button type="button" class="btn btn-info" id="mark-btn-{$ $index$ }" ng-click="updatePlan(plan, $index)">Edit</button>
                                                                <button type="button" class="btn btn-danger" id="mark-btn-{$ $index$ }" ng-click="deletPlan(plan, $index)">Delete</button>
                                                            </div>
                                                        </TD>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="report">
                                    coming soon
                                </div>
                                <div class="tab-pane fade" id="forum">
                                    coming soon
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div> <!-- end of player-game block -->

              </div>

              <!-- player edit Modal -->
              <div class="modal fade" id="player-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Edit Player</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" ng-submit="submitPlayerInfo()">
                          <fieldset>
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="textinput">Username</label>
                              <div class="col-sm-4">
                                <input type="text" placeholder="username" class="form-control" ng-model="editingplayer.user.username">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="textinput">First Name</label>
                              <div class="col-sm-4">
                                <input type="text" placeholder="First Name" class="form-control" ng-model="editingplayer.user.first_name">
                              </div>

                              <label class="col-sm-2 control-label" for="textinput">Last Name</label>
                              <div class="col-sm-4">
                                <input type="text" placeholder="Last Name" class="form-control" ng-model="editingplayer.user.last_name">
                              </div>
                            </div>

                            <div class="form-group">
                                <!--
                              <label class="col-sm-2 control-label" for="textinput">Birthdate</label>
                              <div class="col-sm-4">
                                <input id="available_from" type="text" placeholder="Birthdate" class="form-control form_datetime" ng-model="editingplayer.birthdate">
                              </div>!-->
                                <label class="col-sm-2 control-label" for="textinput">Age Group</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="editingplayer.age_group">
                                    {% for age_group, age_group_name in agegroup_choices %}
                                    <option>{{age_group}}</option>
                                    {% endfor %}
                                    </select>
                                </div>

                              <label class="col-sm-2 control-label" for="textinput">Gender</label>
                              <div class="col-sm-4">
                                <select class="form-control" ng-model="editingplayer.gender">
                                  {% for gender, gender_name in gender_choices %}
                                  <option>{{gender}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </div>

                          </fieldset>
                        </form>
                    </div>
                  </div>
                </div>
              </div><!-- end player edit Modal -->

              <!-- player add Modal -->
              <div class="modal fade" id="player-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Add Player</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" ng-submit="submitPlayerInfo()">
                          <fieldset>
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="textinput">Username</label>
                              <div class="col-sm-4">
                                <input type="text" placeholder="username" class="form-control" ng-model="editingplayer.user.username">
                              </div>

                              <label class="col-sm-2 control-label" for="textinput">Password</label>
                              <div class="col-sm-4">
                                <input type="password" placeholder="password" class="form-control" ng-model="editingplayer.user.password">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="textinput">First Name</label>
                              <div class="col-sm-4">
                                <input type="text" placeholder="First Name" class="form-control" ng-model="editingplayer.user.first_name">
                              </div>

                              <label class="col-sm-2 control-label" for="textinput">Last Name</label>
                              <div class="col-sm-4">
                                <input type="text" placeholder="Last Name" class="form-control" ng-model="editingplayer.user.last_name">
                              </div>
                            </div>

                            <div class="form-group">
                                <!--
                              <label class="col-sm-2 control-label" for="textinput">Birthdate</label>
                              <div class="col-sm-4">
                                <input id="available_from" type="text" placeholder="Birthdate" class="form-control form_datetime" ng-model="editingplayer.birthdate">
                              </div>
                              !-->
                                <label class="col-sm-2 control-label" for="textinput">Age Group</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="editingplayer.age_group">
                                    {% for age_group, age_group_name in agegroup_choices %}
                                    <option>{{age_group}}</option>
                                    {% endfor %}
                                    </select>
                                </div>

                              <label class="col-sm-2 control-label" for="textinput">Gender</label>
                              <div class="col-sm-4">
                                <select class="form-control" ng-model="editingplayer.gender">
                                  {% for gender, gender_name in gender_choices %}
                                  <option>{{gender}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </div>

                          </fieldset>
                        </form>
                    </div>
                  </div>
                </div>
              </div><!-- end player add Modal -->


              <!-- plan edit Modal -->
              <div class="modal fade" id="plan-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Edit Plan</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" ng-submit="submitPlanInfo()">
                            <div class="form-group">
                              <label class="col-sm-4 control-label" for="textinput">plan name</label>
                              <div class="col-sm-8">
                                <input type="text" placeholder="name" class="form-control" ng-model="editingplan.name">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label" for="textinput">start</label>
                              <div class="col-sm-8">
                                <input type="text" placeholder="start" class="form-control" ng-model="editingplan.start_date">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-4 control-label" for="textinput">end</label>
                              <div class="col-sm-8">
                                <input type="text" placeholder="end" class="form-control" ng-model="editingplan.end_date">
                              </div>

                              <div class="col-sm-4 hide">
                                <input type="text" placeholder="content" class="form-control" ng-model="editingplan.plan_data">
                              </div>
                            </div>

                            {% include "dataapp/plan/_plan_templates.html" %}

                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div><!-- end plan edit Modal -->
            </div>
        </div>
    </div>

    </div>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{% static 'vis/lib/d3.v3.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'vis/lib/nv.d3.min.js' %}" charset="utf-8"></script>


    <script type="text/javascript" src="{% static 'vis/lib/jquery-ui.min.js' %}" charset="utf-8"></script><!--add new -->
    <script type="text/javascript" src="{% static 'vis/lib/rickshaw.min.js' %}" charset="utf-8"></script><!--add new -->
    <script type="text/javascript" src="{% static 'vis/lib/vis1.js' %}" charset="utf-8"></script><!--add new -->
    <script type="text/javascript" src="{% static 'vis/lib/x3dom-full.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'vis/lib/scatter_plot_3d_demo.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'vis/lib/d3.legend.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'vis/parkinsoncharts.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'vis/bgcharts.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'vis/lvcharts.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'vis/vis.js' %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'js/dashboard-page.js' %}" charset="utf-8"></script>

    <script type="text/javascript">
        vars = {
            staff_id: '{{user.staff_profile.pk}}',
        }
    </script>
{% endblock %}
