{% load tag_extras %}
<table class="table table-striped table-bordered table-hover dataTable" style="text-align:center;visibility:hidden;" id="gs_table">
  <thead>
    <tr>
      <th style="text-align:center">Game</th>
      <th style="text-align:center">Number of players</th>
      <th style="text-align:center">Duration (mean)</th>
      <th style="text-align:center">Satisfaction</th>
    </tr>
  </thead>
  <tbody>
    {% for gd in game_dict %}
      <tr>
        <td>{{gd.game_level__game__name}}</td>
        <td>{{gd.total_players}}</td>
        <td>{{gd.name}}</td>
        <td>{{gd.name}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">

  jQuery(function($) {
    $(document).ready(function() {
      $('#gs_table').dataTable(
        {
          "sPaginationType": "full_numbers",
          //"bJQueryUI": true
        }
      );
      document.getElementById('gs_table').style.visibility = "visible";
    } );
  });

</script>