{% extends 'site_base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block body %}
  <div class="row" ng-app="playergameApp" ng-controller="playergameCtrl">
    <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="#">{{player.user.username}}</a></li>
          <li class="active">{$ game.name $}</li>
        </ol>

        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#data" role="tab" data-toggle="tab">Data</a></li>
          <li class=""><a href="#plan" role="tab" data-toggle="tab">Plans</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="data">
              <span class="nullable">
                select a level: <select ng-model="selected_level" ng-options="level.name for level in game.levels" ng-change="switchGameLevel()">
                  <option value="">-- choose level --</option>
                </select>
              </span>

              <div ng-if="selected_level">
                  <p>level info: {$ selected_level $}</p>

                  <p>Total plays: {$ selected_level_plays.length $}</p>
                  <canvas id="myCanvas" width="200" height="100"
                  style="border:1px solid #000000;">
                  </canvas>

                  <div>
                      <span class="nullable">
                        select a play: <select ng-model="$parent.selected_play" ng-options="play.play_time for play in selected_level_plays" ng-change="switchPlay()">
                          <option value="">-- choose play --</option>
                        </select>
                      </span>

                      <div ng-if="$parent.selected_play">
                          <p>play info: {$ $parent.selected_play $}</p>

                          <p>Total data records: {$ $parent.$parent.selected_play_records.length $}</p>
                          <canvas id="myCanvas" width="200" height="100"
                          style="border:1px solid #000000;">
                          </canvas>
                          <p>data records:</p>
                          <ul ng-repeat="record in $parent.$parent.selected_play_records">
                            <li>{$ record $}</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>


          <div class="tab-pane fade" id="plan">
              <h2>Plans [total: {$ plan_list.length $}]</h2>

              <div class="row">
                  <div class="col-lg-2">
                      <button type="button" class="btn btn-success" ng-click="addPlan()">Add Plan</button>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">

                      <table class='table table-bordered table-striped sortable'>
                          <thead>
                              <tr>
                                  <th>name</th>
                                  <th>start</th>
                                  <th>end</th>
                                  <th>plan data</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="plan in plan_list" id='tweet-row-{$ $index $}'>
                                  <td><p>{$ plan.name $}</p></td>
                                  <td><p>{$ plan.start_date $}</p></td>
                                  <td><p>{$ plan.end_date $}</p></td>
                                  <td><p>{$ plan.plan_data $}</p></td>
                                  <TD>
                                      <div class="btn-group btn-group-xs">
                                          <button type="button" class="btn btn-info" id="mark-btn-{$ $index$ }" ng-click="updatePlan(plan, $index)">Edit</button>
                                          <button type="button" class="btn btn-danger" id="mark-btn-{$ $index$ }" ng-click="deletPlan(plan, $index)">Delete</button>
                                      </div>
                                  </TD>
                              </TR>

                          </tbody>
                      </table>
                      <hr>
                  </div>
              </div>
          </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="plan-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Plan</h4>
          </div>
          <div class="modal-body">
              <form class="form-horizontal" role="form" ng-submit="submitPlanInfo()">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">name</label>
                    <div class="col-sm-4">
                      <input type="text" placeholder="name" class="form-control" ng-model="editingplan.name">
                    </div>

                    <label class="col-sm-2 control-label" for="textinput">start</label>
                    <div class="col-sm-4">
                      <input type="text" placeholder="start" class="form-control" ng-model="editingplan.start_date">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">end</label>
                    <div class="col-sm-4">
                      <input type="text" placeholder="end" class="form-control" ng-model="editingplan.end_date">
                    </div>

                    <label class="col-sm-2 control-label" for="textinput">content</label>
                    <div class="col-sm-4">
                      <input type="text" placeholder="content" class="form-control" ng-model="editingplan.plan_data">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </div>

                </fieldset>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{% static 'js/playergame-page.js' %}" charset="utf-8"></script>

    <script type="text/javascript">
        vars = {
            player_id: '{{player.pk}}',
            game_uuid: '{{game.uuid}}',
            game_id: '{{game.pk}}',
            staff_id: '{{user.staff_profile.pk}}',
        }
    </script>
{% endblock %}
