{% extends "site_base.html" %}
{% load staticfiles %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "css/fileuploader.css" %}">
{% endblock %}

{% block body %}
  <div class="row" ng-app="profileEditApp">
    <div class="col-md-12">
      <h2>Profile</h2>

      <div class="content" ng-controller="profileEditCtrl">
          <div class="pure-alert pure-alert-success" ng-show="data.success">
              Updated!
          </div>
          <form class="pure-form pure-form-aligned" ng-submit="updateProfile()">
              <fieldset>
                  <legend>Edit profile</legend>
                  <div class="pure-control-group">
                      <label for="name">Name</label>
                      <input id="name" type="text" placeholder="Name" ng-model="data.name">
                  </div>
                  <div class="pure-controls">
                      <button type="submit" class="pure-button pure-button-primary">Submit</button>
                  </div>
              </fieldset>
          </form>
          <div class="photos">
              <div class="photo" ng-repeat="photo in data.photos">
                  <img src="{$ photo.url $}" />
              </div>
          </div>
          <div id="file-uploader" class="uploader">
              <noscript>
                  <p>Please enable JavaScript to use file uploader.</p>
              </noscript>
          </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block extra_script %}
  <script type="text/javascript">
    vars = {
        profileUrl: '{% url "profile-detail" profile.pk %}',
        photoUploadUrl: '{% url "photo-upload" %}',
    }
  </script>
  <script type="text/javascript" src="{% static 'js/fileuploader.js' %}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static 'js/profile_app.js' %}" charset="utf-8"></script>

{% endblock %}