{% load tag_extras %}
<table class="table table-striped table-bordered table-hover dataTable" style="text-align:center;visibility:hidden;" id="us_table">
  <thead>
    <tr>
      <th style="text-align:center">User ID</th>
      <th style="text-align:center">Game</th>
      <th style="text-align:center">Age</th>
      <th style="text-align:center">Date</th>
      <th style="text-align:center">Duration</th>
      <th style="text-align:center">Gender</th>
    </tr>
  </thead>
  <tbody>
    {% for playergameplay in playergameplays %}
      <tr>
        <td>{{playergameplay.player.user.id}}</td>
        <td>{{playergameplay.game_level.game.name}}</td>
        <td>{{playergameplay.player.birthdate|age}}</td>
        <td>{{playergameplay.play_time|date}}</td>
        <td></td>
        <td>{{playergameplay.player.gender|default_if_none:""}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">

  jQuery(function($) {
    $(document).ready(function() {
      $('#us_table').dataTable(
        {
          "sPaginationType": "full_numbers",
          //"bJQueryUI": true
        }
      );
      document.getElementById('us_table').style.visibility = "visible";
    } );
  });

</script>
      