{% extends "site_base.html" %}
{% load staticfiles %}
{% load tag_extras %}

{% block extra_style %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align:center">User Statistics</h3>
      <form method='POST' class="form-inline" style="text-align:center" id="filter_form" action='user_statistics_table/'>
        <div class="form-group">
          <label for="game">Game:</label>
          <input type="text" class="form-control" id="game" name="game">
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="text" class="form-control" id="age_lower" name="age_lower">
          -
          <input type="text" class="form-control" id="age_upper" name="age_upper">
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="text" class="form-control" id="date" name="date">
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="duration">Duration:</label>
          <input type="text" class="form-control" id="duration" name="duration">
        </div>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" id="filter_submit">Submit</button>
      </form>
      <br>
      <div id="user_statistics_table">
        
      </div>

    </div>

  </div>
{% endblock %}


{% block extra_script %}
  <script>
    /*
      $('#filter_submit').click(function(e) 
      { 
        data = $('#filter_form').serialize()
        url = $('#filter_form').attr('action');
        $http.post(url, data).
          success(function(data, status, headers, config) {
            $('#user_statistics_table').html(data);
        })
      });
    */
    $( "#date" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 1,
      dateFormat: 'yy-mm-dd',
    });


    $('#filter_submit').click(function(e) 
    {
      $.ajax({ // create an AJAX call...
          data: $('#filter_form').serialize(), // get the form data
          type: $('#filter_form').attr('method'), // GET or POST
          url: $('#filter_form').attr('action'), // the file to call
          success: function(response) { // on success..
            $('#user_statistics_table').html(response);
          }
      });
      return false; // cancel original event to prevent form submitting
    });
  </script>

{% endblock %}
